div.loader {
    position: absolute;
    background: url(ajax_loader_gray_512.gif);
    background-size: 200px 200px;
/*    background-color: #00ff00;
*/ top: 50px;
 left: 54px;
 display: none;
    width: 200px;
    height: 200px;
 z-index: 20;
}

div.loader-container {
    position: relative;
}